body{
    background-image: url(https://phantom-elmundo.unidadeditorial.es/2919376de921b6d2781e65ba75a7e707/crop/18x29/690x375/f/webp/assets/multimedia/imagenes/2020/07/17/15949955446655.jpg);
    background-size: 100%;
    text-align: center;
}